body {
    font: 16px "Open Sans", sans-serif;
    font-weight:300;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: rgba(241, 241, 241, 0.92);
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
}

